<%% content_for :title do %>
  <%%= I18n.t("activerecord.models.spree/<%=singular_name%>") %>
<%% end %>

<%% content_for :page_title do %>
  <%%= I18n.t("activerecord.models.spree/<%=singular_name%>") %>
<%% end %>

<%% content_for :page_actions do %>
  <%%= button_link_to(Spree.t("scaffold.print"), object_url(@object, :pdf), :icon => 'print', :target => "_blank", :class => "btn btn-primary") %>
  <%%= button_link_to Spree.t("scaffold.back_to_resources_list"), collection_url, :icon => 'arrow-left' %>
<%% end %>


<div id="content">
  <%%=render :partial => "object", :locals => {:object => @object}%>
</div>