<div id="content">
    <%% @collection.each_with_index do |object, index| %>
        <%%=render :partial => "object", :locals => {:object => object}%>
        <%% if index != (@collection.length - 1) %>
            <div class="page-break"></div>
        <%% end %>
    <%% end %>
</div>