@import "bootstrap-sprockets";
@import "spree/frontend/variables";
@import "bootstrap";

@include make-grid(sm);
@include make-grid(md);
@include make-grid(lg);

header {
  padding: 10px 5px;
}

.page-break {
  display: block;
  clear: both;
  page-break-after: always;
}

table { page-break-inside:auto }
thead { display: table-header-group }
tfoot { display: table-row-group }
tr    { page-break-inside:avoid; page-break-after:auto }